
.idea/encodings.xml
.idea/lgu-portal.iml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
application/logs/log-2019-01-27.php
application/logs/log-2019-01-27.php
application/logs/log-2019-01-30.php
application/config/database.php
application/config/config.php
application/config/email.php
application/logs/log-2019-02-03.php
application/logs/log-2019-02-04.php
application/logs/log-2019-02-05.php
